{% import "header.j2" as h -%}
{% import "names.j2" as n -%}
{%- filter regex_replace("(?m)`\\n(\\t?// )([.,;:!?)]+) ", "`${2}\n${1}") | regex_replace("(?m)`\\n\\t?// ([.,;:!?)]+)$", "`${1}") | regex_replace("(?m)`\\n(\\t?// ) (\\S)", "`\n${1}${2}") -%}
{{ h.header() }}

{{ ["Package " ~ n.root() ~ "tracer holds the Tracer that starts the registry's spans, so every span it starts is tied to " ~ n.root() ~ ".SchemaURL."] | join | comment }}
package {{ n.root() }}tracer
{% endfilter %}
